body{
    font-family:Tahoma, Arial;
    font-size:14px;
}
a{
    color:#076CC7;
}
    a:hover{
            color:#c00;
    }

.vacancy{
    margin-bottom:10px;
}
    .vacancy__employer{
        color:#ccc;
        text-decoration:none;
    }
        .vacancy__employer:hover{
            color:#ccc;
            text-decoration:underline;
        }

.pager{
    margin-top:15px;
}

.salary{
}
    .salary__set{
        color:#090;
    }
    .salary__notset{
        color:#ccc;
    }
    
    
.employer{
    float:left;
    width:500px;
    margin-left:50px;
}
    .employer__name{
        margin-bottom:15px;
        font-size:15px;
    }