hh{
    font-size:14px;
    font-family:Tahoma, Arial, serif;
    display:block;
}

.hh-link{
    color:#076CC7;
    text-decoration:underline;
    cursor:pointer;
}
    .hh-link:hover{
        color:#c00;
    }
    
.hh-vacancy{
    display:block;
    margin-bottom:5px;
}
    .hh-vacancy__name{
        font-size:16px;
    }
    
.hh-salary{
    color:#444;
    display:block;
}
    .hh-salary_notset{
        color:#aaa;
    }

